section {
  display: flex;
  gap: 2rem;
  padding: 30px;
}

.home {
  background-color: var(--white-color);
  border-radius: 25px;
  padding: 20px;
  width: calc(100% - 150px); /* Compensa a largura da sidebar */
  margin-left: auto;
}

/* Estilo das métricas */
.metrics {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 30px;
  background-color: var(--gray-color);
}

.card {
  flex-direction: column;
  background-color: var(--white-color);
  padding: 20px 40px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 10px 0;
}

.card .info h3 {
  margin: 0;
  font-size: 18px;
}

.card .info p {
  font-size: 34px;
  font-weight: bold;
}

.resolved- {
  background-color: #d5fdf6;
}

.resolved- fa-icon {
  color: #00b894;
}

.daily- {
  background-color: #fff4f4;
}

.daily- fa-icon {
  color: #ff3939;
}

.active- {
  background-color: #f27878;
}

.active- fa-icon {
  color: #ffe0eb;
}

/* Estilo da lista de alertas */
.-section {
  display: flex;
  gap: 20px;
}

.-section h3 {
  font-size: 24px;
}

.-table {
  flex: 2;
  background-color: var(--gray-color);
  border-radius: 10px;
  padding: 15px;
}

.-table table {
  width: 100%;
}

.-table th,
.-table td {
  padding: 10px 0;
  text-align: center;
}

.-table td {
  border-bottom: 1px solid #ddd;
}

.-table td span {
  padding: 5px 25px;
  border-radius: 25px;
}

.-table .high span {
  color: red;
  border: 2px solid red;
}

.-table .medium span {
  color: orange;
  border: 2px solid orange;
}

.-table .low span {
  color: green;
  border: 2px solid green;
}

.-table .resolved span {
  color: green;
  border: 2px solid green;
}

.-table .active span {
  color: red;
  border: 2px solid red;
}

/* Estilos para o gráfico */
.-chart {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  flex: 1;
  background-color: var(--gray-color);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.chart {
  width: 100%;
  height: 300px; /* Aumenta a altura para melhor visualização */
  border-radius: 5px;
}

/* Media Query */
@media (max-width: 930px) {
  .metrics {
    flex-direction: column;
    gap: 0;
  }

  .-section {
    flex-direction: column;
  }

  .home {
    width: 100%;
    margin-left: 0;
  }
}
