<section>
  <app-sidebar></app-sidebar>
  <div class="home">
    <app-header [pageTitle]="'Home'"></app-header>
    <div class="metrics">
      <div class="card resolved-alerts">
        <div>
          <h3>Taxa de Alertas Resolvidos</h3>
        </div>
        <div class="info">
          <fa-icon class="icon" class="fa-3x" [icon]="faSquareCheck"></fa-icon>
          <p>35</p>
        </div>
      </div>
      <div class="card daily-alerts">
        <div>
          <h3>Alertas das últimas 24 horas</h3>
        </div>
        <div class="info">
          <fa-icon class="icon" class="fa-3x" [icon]="faTriangleExclamation"></fa-icon>
          <p>15</p>
        </div>
      </div>
      <div class="card active-alerts">
        <div>
          <h3>Número de Alertas Ativos</h3>
        </div>
        <div class="info">
          <fa-icon class="icon" class="fa-3x" [icon]="faSquarePollVertical"></fa-icon>
          <p>50</p>
        </div>
      </div>
    </div>
    <div class="alerts-section">
      <div class="alerts-table">
        <h3>Lista de Alertas</h3>
        <table>
          <thead>
            <tr>
              <th>Local</th>
              <th>Epidemia</th>
              <th>Gravidade</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Ibirapuera</td>
              <td>Dengue</td>
              <td class="high"><span>Alta</span></td>
              <td class="resolved"><span>Resolvido</span></td>
            </tr>
            <tr>
              <td>Vila Serrana</td>
              <td>Gripe</td>
              <td class="low"><span>Baixa</span></td>
              <td class="resolved"><span>Resolvido</span></td>
            </tr>
            <tr>
              <td>Patagônia</td>
              <td>Zika Virus</td>
              <td class="medium"><span>Média</span></td>
              <td class="active"><span>Ativo</span></td>
            </tr>
            <tr>
              <td>Ibirapuera</td>
              <td>Dengue</td>
              <td class="high"><span>Alta</span></td>
              <td class="resolved"><span>Resolvido</span></td>
            </tr>
            <tr>
              <td>Candeias</td>
              <td>Gripe</td>
              <td class="high"><span>Alta</span></td>
              <td class="resolved"><span>Resolvido</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="alerts-chart">
        <div>
          <h3>Taxa de Alertas Resolvidos</h3>
        </div>
        <div class="chart">
          <!-- Gráfico será renderizado aqui -->
          <div>
            <img class="grafico" src="../../assets/images/grafico.png" alt="exemplo de gráfico" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>