.login-page {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left-side {
  flex: 1;
  background-color: var(--background-color);
  background-image: url("../../assets/images/login.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.right-side {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
}

.right-side app-loginform {
  width: 100%;
  max-width: 350px;
  text-align: center;
}

/* --------------  MEDIA QUERY ----------------  */
@media (max-width: 768px) {
  .login-page {
    flex-direction: column;
  }

  .left-side {
    height: 50vh;
  }

  .right-side {
    padding: 20px;
  }
}
