.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.page-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--sidebar-color);
}

.user-info {
  display: flex;
  align-items: center;
}

.user-details {
  display: flex;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-weight: bold;
  margin: 0;
}

.user-email {
  font-size: 12px;
  color: var(--placeholder-color);
  margin: 0;
}

.icons {
  display: flex;
  gap: 0.7rem;
  color: var(--placeholder-color);
  cursor: pointer;
  margin-right: 15px;
}

.icons fa-icon {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--border-color);
}

.icons fa-icon:hover {
  color: var(--border-color);
  background-color: var(--placeholder-color);
}

.user-details fa-icon {
  color: var(--placeholder-color);
  cursor: pointer;
  margin-left: 10px;
}
