<div class="header">
  <h1 class="page-title">{{ pageTitle }}</h1>

  <div class="user-info">
    <div class="icons">
      <i class="fa-solid fa-magnifying-glass"></i>
      <i class="fa-regular fa-bell"></i>
    </div>
    <div class="user-details">
      <img class="avatar" [src]="user.avatar" alt="User Avatar" />
      <div>
        <p class="username">{{ user.name }}</p>
        <p class="user-email">{{ user.email }}</p>
      </div>
      <i class="fa-solid fa-angle-down"></i>
    </div>
  </div>
</div>