<div class="header">
  <h1 class="page-title">{{ pageTitle }}</h1>

  <div class="user-info">
    <div class="icons">
      <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
      <fa-icon [icon]="faBell"></fa-icon>
    </div>
    <div class="user-details">
      <img class="avatar" [src]="user?.avatar" alt="User Avatar" />
      <div>
        <p class="username">{{ user?.name }}</p>
        <p class="user-email">{{ user?.email }}</p>
      </div>
      <fa-icon [icon]="faAngleDown"></fa-icon>
    </div>
  </div>
</div>