<div class="header">
  <h1 class="page-title">{{ pageTitle }}</h1>

  <div class="user-info">
    <div class="icons">
      <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
      <fa-icon [icon]="faBell"></fa-icon>
    </div>
    <div class="user-details">
      <img class="avatar" [src]="user.avatar" alt="User Avatar" />
      <div>
        <p class="username">{{ user.name }}</p>
        <p class="user-email">{{ user.email }}</p>
      </div>
      <div class="more-info">
        <fa-icon [icon]="faAngleDown" (click)="toggleMenu()" *ngIf="!menuOpen"></fa-icon>
      </div>
    </div>
  </div>

  <!-- MOBILE NAV MODAL -->
  <div class="modal" [class.open]="menuOpen" *ngIf="menuOpen">
    <div id="closeModal" (click)="toggleMenu()">
      <img src="../../assets/images/close.png" alt="close button" />
    </div>
    <ul>
      <li><a routerLink="#">Início</a></li>
      <li><a routerLink="#">Contatos</a></li>
      <li><a routerLink="/">Sair</a></li>
    </ul>
  </div>
</div>
