/* Estiliza o container principal do dashboard */
.dashboard-container {
  display: flex;
  height: 100vh;
  background-color: var(--gray-color);
}

/* Estiliza a área principal do conteúdo */
.content {
  flex: 1;
  padding: 55px;
  background-color: var(--white-color);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  margin-left: 180px; /* Garante que o conteúdo não fique embaixo da barra lateral */
  display: flex;
  flex-direction: column;
}

/* Estiliza o cabeçalho do dashboard */
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Estiliza o botão de seleção (select) */
select {
  background-color: #007bff; /* Cor azul */
  color: #fff;               /* Texto branco */
  border: none;
  border-radius: 20px;       /* Bordas arredondadas */
  padding: 10px 20px;        /* Espaçamento interno */
  font-size: 16px;
  cursor: pointer;
  appearance: none;          /* Remove a aparência padrão do sistema */
  margin-bottom: 20px;       /* Adiciona espaçamento abaixo do botão azul */
}

/* Estiliza o select ao passar o mouse */
select:hover {
  background-color: #0056b3; /* Azul mais escuro */
}

/* Ajusta o tamanho para evitar deformações */
select:focus {
  outline: none;
}

/* Estiliza o contêiner dos gráficos */
.charts-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-top: 10px; /* Adiciona espaçamento acima do gráfico */
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column;
  }

  .content {
    margin: 10px;
    padding: 15px;
    margin-left: 0; /* Remove o deslocamento lateral em telas menores */
  }
}
