<nav class="sidebar">
  <ul>
    <li>
      <img src="../../assets/images/logo.png" alt="Logo" class="logo" />
    </li>
    <li>
      <a routerLink="/"><i class="fa-solid fa-house"></i></a>
    </li>
    <li>
      <a routerLink="/"><i class="fas fa-th"></i></a>
    </li>
    <li>
      <a routerLink="/"><i class="fa-solid fa-user-group"></i></a>
    </li>
    <li>
      <a routerLink="/"><i class="fa-regular fa-calendar-check"></i></a>
    </li>
    <li>
      <a routerLink="/"><i class="fa-solid fa-gear"></i></a>
    </li>
  </ul>
</nav>