.sidebar {
  background-color: var(--sidebar-color);
  width: 150px;
  height: 100vh;
  border-radius: 0 25px 25px 0;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed; /* Fixa a sidebar à esquerda */
  top: 0;
  left: 0;
  z-index: 10;
}

.sidebar ul {
  flex: 1;
  padding: 0;
}

.sidebar ul li {
  list-style: none;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  margin: 20px 0;
}

.sidebar ul li a {
  color: var(--white-color);
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-size: 16px;
}

.sidebar ul li:hover {
  background-color: var(--white-color);
  border-radius: 25px;
  transition: ease-in-out 0.3s;
}

.sidebar ul li:hover a {
  color: var(--sidebar-color);
}

.logo {
  width: 35px;
  margin-bottom: 20px;
}
