<nav class="sidebar">
  <ul>
    <li>
      <a routerLink="/"><img src="../../assets/images/logo.png" alt="Logo" class="logo" /></a>
    </li>
    <li>
      <a routerLink="/home"><fa-icon [icon]="faHouse"></fa-icon> <span>Home</span></a>
    </li>
    <li>
      <a routerLink="/dashboard"><fa-icon [icon]="faTh"></fa-icon> <span>Dashboard</span></a>
    </li>
    <li>
      <a routerLink="/geomonitor"><fa-icon [icon]="faMapLocationDot"></fa-icon> <span>GeoMonitor</span></a>
    </li>
    <li>
      <a routerLink="/alerts"><fa-icon [icon]="faUserGroup"></fa-icon> <span>Alerts</span></a>
    </li>
    <li>
      <a routerLink="/settings"><fa-icon [icon]="faGear"></fa-icon> <span>Settings</span></a>
    </li>
  </ul>
</nav>
