.sidebar {
  background-color: var(--sidebar-color);
  max-width: 150px;
  border-radius: 25px;
  padding: 30px 20px;
}

.sidebar ul li {
  list-style: none;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  margin: 20px 0;
}

.sidebar ul li a {
  color: var(--white-color);
}

.sidebar ul li:hover {
  background-color: var(--white-color);
  border-radius: 25px;
  transition: ease-in-out 0.3s;
}

.sidebar ul li:hover a {
  color: var(--sidebar-color);
}

.logo {
  width: 35px;
}
