<nav class="sidebar">
  <ul>
    <li>
      <a routerLink="/"><img src="../../assets/images/logo.png" alt="Logo" class="logo" /></a>
    </li>
    <li>
      <a routerLink="/home"><fa-icon [icon]="faHouse"></fa-icon></a>
    </li>
    <li>
      <a routerLink="/dashboard"><fa-icon [icon]="faTh"></fa-icon></a>
    </li>
    <li>
      <a routerLink="/group"><fa-icon [icon]="faUserGroup"></fa-icon></a>
    </li>
    <li>
      <a routerLink="/geomonitor"><fa-icon [icon]="faMapLocationDot"></fa-icon></a>
    </li>
    <li>
      <a routerLink="/settings"><fa-icon [icon]="faGear"></fa-icon></a>
    </li>
  </ul>
</nav>