<div class="login-container">
  <app-applogo></app-applogo>
  <p>
    Don’t have an account? <span class="sign-up" routerLink="/signup">Sign up!</span>
  </p>
  <div class="input-group">
    <label>Your Email</label>
    <input type="email" placeholder="Ex: Maguire@FlexUI.com" />
  </div>
  <div class="input-group">
    <label>Password</label>
    <input type="password" placeholder="Create a password" />
  </div>
  <div class="button-group">
    <button class="login-button">Login</button>
    <a href="#" class="forgot-password">Forgot password?</a>
  </div>
</div>