<div class="login-container">
  <img src="../../assets/images/logo.png" alt="Logo" class="logo" />
  <h1>EpyAlert System</h1>
  <p>
    Don’t have an account, <span class="sign-up">Sign up</span>
  </p>
  <div class="input-group">
    <label>Your Email</label>
    <input type="email" placeholder="Ex: Maguire@FlexUI.com" />
  </div>
  <div class="input-group">
    <label>Password</label>
    <input type="password" placeholder="Create a password" />
  </div>
  <div class="button-group">
    <button class="login-button">Login</button>
    <a href="#" class="forgot-password">Forgot password?</a>
  </div>
</div>
