<div class="signup-container">
  <h3>Criar uma nova conta</h3>
  <div class="input-group">
    <i class="fa-regular fa-user font-icon"></i>
    <input type="text" placeholder="Nome" />
  </div>
  <div class="input-group">
    <i class="fa-regular fa-envelope font-icon"></i>
    <input type="email" placeholder="E-mail" />
  </div>
  <div class="input-group">
    <i class="fa-solid fa-lock font-icon"></i>
    <input type="password" placeholder="Senha" />
  </div>
  <div class="button-group">
    <button class="signup-button" routerLink="">Cadastrar</button>
  </div>
</div>
